.container {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header  main"
    "sidebar main"
    "footer footer";
    grid-template-rows: 20% 1fr 20px;
    grid-template-columns: 30% 1fr;
}

.header {
    grid-area: header;
    background-color: #ff1;
}

.sidebar {
    grid-area: sidebar;
    background: #f2f;
}

.main {
    grid-area: main;
    background-color: #3ff;
}

.footer {
    grid-area: footer;
    background-color: #333;
}


