p, ul {
    color: #e4d3fb;
    font-size: 18px;
}

.title {
    color: #3792be;
    opacity: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.title-big {
    font-size: 30px;
    text-align: end;
}

.title-small {
    font-size: 20px;
    position: relative;
}

.title-small::before {
    content: '';
    top: 7px;
    left: -30px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3792be;
}

body {
    font-family: 'Alegreya', serif;
    font-size: 16px;
    background-color: #6f6f6f;
    
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
                "header  main"
                "sidebar main"
                "footer footer";
    grid-template-rows: auto auto auto;
    /* grid-template-columns: 40% auto; */
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: -10px -10px 15px black;
}

/* header start*/
.header {
    grid-area: header;
    background-color: #2d3f50;
    padding-bottom: 20px;
}

.header-photo {
    width: 70%;
    margin: 20px auto;
    border-radius: 50%;
}

.header-title {
    text-align: center;
}

.header-subtitle {
    color: #b0accd;
    text-align: center;
}

/* header end */

/* side bar start*/
.sidebar {
    grid-area: sidebar;
    background: #2d3f50;
    padding: 0 35px 15px;
}

.sidebar h3 {
    margin-top: 20px;
}

.sidebar-article {
    text-align: justify;
}

.info-list li,
.info-list li a{
    display: flex;
    align-items: center;
}

.info-list span,
.info-list address {
    padding: 5px 20px;
}

.info-icon {
    width: 20px;
    height: 20px;
}

.info-list a {
    color: inherit;
}

.prof-skill ul,
.personal-skill ul {
    width: 250px;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill__level {
    display: flex;
}

.skill__level div {
    width: 15px;
    height: 15px;
    background-color: #e4d3fb;
    border-radius: 50%;
    /* padding: 3px; */
}

.skill__level .done {
    background-color: #3792be;
}
/* side bar end */

/* main start */
.main {
    grid-area: main;
    background-color: #2c3949;
    padding: 0 35px;
}

.main section {
    padding-top: 40px;
}

.experience-list li,
.education-list li {
    padding-top: 30px;
}

.experience-list li div,
.education-list li div {
    /* max-width: 60%; */
    display: flex;
    justify-content: space-between;
}

.experience-list li span,
.education-list li span {
    color: #b0accd;
}

.languages-list {
    width: 300px;
}

.languages-list li {
    padding-top: 10px;
}

pre,
code {
  font-family: "Courier New", "Courier", monospace;
  font-size: 14px;
  color: #b0accd;
}

.code a {
   color: #b0accd;
}
/* main end */

/* footer start */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: footer;
    /* height: 50px; */
    background: linear-gradient(#2c3949, #44345c);
    padding: 20px;
}

.footer-github,
.footer-rsschool {
    display: flex;
    align-items: center;
}

.footer-github img {
    width: 30px;
}

.footer-github span,
.footer-rsschool span {
    color: #e4d3fb;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-rsschool img {
    height: 30px;
}

/* footer end */

@media (max-width: 960px) {
    pre,
    code {
    font-size: 12px;
    }
}

@media (max-width: 800px) {
    .title-big {
        text-align: center;
    }
    pre,
    code {
    font-size: 14px;
    }
    .container {
        grid-template-areas: 
                    "header"
                    "sidebar"
                    "main"
                    "footer";
        grid-template-rows: auto;
        /* grid-template-columns: 40% auto; */
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 550px) {
    pre,
    code {
    font-size: 10px;
    }
}

@media (max-width: 400px) {
    .code {
        display: none;
    }

    footer {
        flex-direction: column;
        /* align-items: stretch; */
    }

    .footer-github {
        padding-bottom: 10px;
    }
    .footer-rsschool {
        padding-top: 10px;
    }
}

@media (max-width: 370px) {
    .title-small::before {
        display: none;
    }
    .main {
        padding: 0 10px;
    }

    .sidebar {
        padding: 0 10px 15px;
    }
}


